@page
@model EntAppSecond.Pages.EngDept.indexModel
@{
    ViewData["EngDept"] = "EngDept";
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <h1>Welcome to the Engineering Department Home Page</h1>
</body>
</html>
