@page
@model EntAppSecond.Pages.Students.CreateModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <span asp-validation-for="Student.StudentID"></span>

        <div>
            <label asp-for=Student.FirstName></label>
            <input asp-for=Student.FirstName />
        </div>

        <div>
            <label asp-for=Student.LastName></label>
            <input asp-for=Student.LastName />
        </div>

        <div>
            <label asp-for=Student.PhoneNumber></label>
            <input asp-for=Student.PhoneNumber />
        </div>

        <div>
            <label asp-for=Student.StudentID></label>
            <input asp-for=Student.StudentID />
        </div>

        <div>
            <label asp-for=Student.DateOfBirth></label>
            <input type="date" asp-for=Student.DateOfBirth />
        </div>

        <div>
            <label asp-for=Student.NUmberOfModules></label>
            <input asp-for=Student.NUmberOfModules />
        </div>

        <div>
            <label asp-for=Student.HeightCm></label>
            <input asp-for=Student.HeightCm />
        </div>

        <div>
            <label asp-for=Student.Email></label>
            <input asp-for=Student.Email />
        </div>

        <div>
            <label asp-for=Student.EmailCheck></label>
            <input asp-for=Student.EmailCheck />
        </div>

        <button type="submit">Press Me</button>


    </form>

</body>
</html>
