@page
@model EntAppSecond.Pages.FormWsModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "FormWs";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>teste</h1>

<h1>@Model.Message</h1>
<h1>@Model.ProductCode</h1>
